//- src/views/components/footer.pug


footer.footer
	.container.footer__container
		.footer__row
			.footer__left
				.footer__logo
					img(src=require('images/logo-footer.svg') alt="")
				.footer__contacts “Компания”d.o.o. <br>11000, Serbia, Belgrade, Garvila Principa 43
			nav.footer__menu.fmenu
				ul.fmenu__ul
					li.fmenu__item
						a.fmenu__link(href="") О платформе
					li.fmenu__item
						a.fmenu__link(href="") Для компаний
					li.fmenu__item
						a.fmenu__link(href="") Соглашение
					li.fmenu__item
						a.fmenu__link(href="") Персональные данные
					li.fmenu__item
						a.fmenu__link(href="")

		.footer__scroll
			.footer__companies
				.footer__company
					img(src=require('images/com-1.svg') alt="")
				.footer__company
					img(src=require('images/com-2.svg') alt="")
				.footer__company
					img(src=require('images/com-3.svg') alt="")
				.footer__company
					img(src=require('images/com-4.svg') alt="")
				.footer__company
					img(src=require('images/com-5.svg') alt="")
				.footer__company
					img(src=require('images/com-6.svg') alt="")
				.footer__company
					img(src=require('images/com-7.svg') alt="")
