header.header
	.container.header__container
		.header__row
			.header__burger.js-show-menu
				img(src=require('images/menu.svg') alt="")
				img(src=require('images/menu-close.svg') alt="")
			.header__logo
				img(src=require('images/logo.svg') alt="")
			nav.header__menu.menu
				ul.menu__ul
					li.menu__item
						a.menu__link(href="") Приложение
					li.menu__item
						a.menu__link(href="") Компаниям
					li.menu__item
						a.menu__link(href="") О платформе
			.header__right
				a.header__contact(href="") Связаться
				a.btn.header__btn(href="") Скачать
				.header__lang.lang
					a.lang__link.lang__link--curent.js-show-lang(href="javascript:;")
						img(src=require('images/flag-for-serbia.svg') alt="serbia")
					.lang__dropdown
						a.lang__link(href="")
							img(src=require('images/flag-for-serbia.svg') alt="serbia")
						a.lang__link(href="")
							img(src=require('images/flag-for-serbia.svg') alt="serbia")

	.header__mobile
		nav.header__mobile-menu.mob-menu
			ul.mob-menu__ul
				li.mob-menu__item.active
					a.mob-menu__link(href="") Приложение
				li.mob-menu__item
					a.mob-menu__link(href="") Компаниям
				li.menu__item
					a.mob-menu__link(href="") О платформе
		.header__mobile-bottom
			.header__mobile-socials.mob-socials
				a.mob-socials__item(href="" rel="nofollow")
					img(src=require('images/header-soc-fb.svg') alt="")
				a.mob-socials__item(href="" rel="nofollow")
					img(src=require('images/header-soc-tw.svg') alt="")
				a.mob-socials__item(href="" rel="nofollow")
					img(src=require('images/header-soc-in.svg') alt="")
				a.mob-socials__item(href="" rel="nofollow")
					img(src=require('images/header-soc-insta.svg') alt="")
			.header__mobile-stores.mob-stores
				a.mob-stores__item(href="" rel="nofollow")
					img(src=require('images/header-market-google.svg') alt="")
				a.mob-stores__item(href="" rel="nofollow")
					img(src=require('images/header-market-apple.svg') alt="")
			a.header__mobile-contact(href="") Связаться

